/* Base Aesthetic and Behaviours */
html {
  font-size: 1.3rem;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

/* Base Aesthetic and Behaviours */
body {
  font-family: "Germania One", system-ui;
  font-weight: bold;
  background-color: #39745b;
  background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) 2px, transparent 1px, transparent 3px);
  margin: 0 auto;
  padding: 0;
}

/* NAVBAR - START - CSS generator source: https://work.smarchal.com/twbscolor/ */
.navbar {
  font-size: 2rem;
  background-color: rgba(20, 20, 20, 0.5);
  font-family: "Germania One", system-ui;
  border-radius: 50px;
  top: 10px;
  border: 3px solid rgba(200, 0, 0, 0.5);
}

.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
}

.nav-link {
  margin-right: 1rem !important;
  border-radius: 100px;
}

.nav-link:hover {
  background: white;
  transition: 0.2s ease-in;
  color: rgb(100, 100, 100);
  border-radius: 100px;
}

.navbar-collapse {
  justify-content: flex-end;
  border: 0;
}

.navbar-toggler {
  background: white !important;
  border: 3px solid black;
  color: white;
  width: 80px;
  border-radius: 30px;
  border: solid black;
  box-shadow: -2px 3px 15px black;
}

.navbar-toggler:hover {
  animation: bootyshake 2s linear;
}

.collapse .navbar-collapse .navbar-toggler-icon {
  background: black !important;
  color: white;
}

.logo {
  width: 80px;
  border-radius: 30px;
  border: solid black;
  box-shadow: 2px 3px 15px black;
}

.logo:hover {
  animation: bootyshake 2s linear;
}

/* END - NAVBAR - END */

/* START - ELEMENT STYLES - START */

/* TITLE QUOTE */
#jackofall {
  background-color: rgba(20, 20, 20, 0.5);
  margin: 20px;
  border-radius: 50px;
  border: 3px solid rgba(200, 0, 0, 0.5);
  padding: 10px;
}


/* Word Styling and Sizing */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Germania One", system-ui;
}

h1 {
  color: #7fcc92;
  padding-bottom: 0.4rem;
  font-size: 3rem;
  -webkit-text-stroke: 3.2px rgba(20, 40, 20, 0.4);
  text-shadow: 0px 20px 15px black;
}

h2 {
  color: #7fcc92;
  padding-top: 0.5rem;
  font-size: 2.5rem;
}

h3 {
  color: #b0f8c2;
  padding-bottom: 0.1rem;
  padding-top: 0.3rem;
}

h4 {
  font-size: 1.6rem;
  padding-bottom: 0.11rem;
  text-transform: uppercase;
  color: black;
}

h5 {
  color: black;
}

p,
ul,
ol,
li,
a {
  font-family: "Germania One", system-ui;
  color: black;
}

p.intro {
  color: white;
  font-size: 1.1em;
  padding-top: 0.11em;
  text-align: left;
}

/* END - ELEMENT STYLES - END */



/* START - MAIN - START */
header {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.main {
  border: 0;
  padding-left: 3rem;
  margin: 20px 0;
  background-color: rgba(20, 20, 20, 0.5);
  padding: 20px;
  border-radius: 0px 25px 25px 0px;
  border: 2px solid rgba(200, 0, 0, 0.5);
  border-left: 3px solid rgb(200, 0, 0, 0.5);
}

.main p,
.main li {
  font-size: 1.23rem;
}


/* END - MAIN - END */

/* START - ASIDE - START */
.aside {
  border: 0;
  padding-right: 3rem;
  margin: 20px 0;
  background-color: rgba(20, 20, 20, 0.5);
  padding: 20px;
  border-radius: 25px 0px 0px 25px;
  border: 2px solid rgba(200, 0, 0, 0.5);
  border-right: 3px solid rgb(200, 0, 0, 0.5);
}

.aside p,
.aside li {
  font-size: 1.23rem;
}

/* START - RESUME AREA - START */
.resume {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
  z-index: 1000;
}

#underresume {
  font-size: 1.4rem;
}

#frog {
  width: 80%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(97, 228, 97, 0.4);
  border-radius: 400px;
  border: 5px solid green;
}

/* END - RESUME AREA - END */
/* START - PICTURE OF ME - START */
.beautifulme {
  border-radius: 160px;
  border: 3px solid black;
  border-right: 15px solid black;
  border-bottom: 15px solid black;
}

.beautifulme:hover {
  animation: bootyshake 2s linear;
}

/* START - PICTURE ANIMATION - START */

@keyframes bootyshake {
  0% {}

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    transform: rotate(-1.5deg);
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    transform: rotate(1.5deg);
  }

  100% {}
}

/* END - PICTURE ANIMATION - END */
/* END -  PICTURE OF ME - END */
/* END - ASIDE - END */



/* START - SOCIAL MEDIA - START */
a.headsocial i {
  color: rgb(129, 0, 0);
}

a.headsocial:hover i {
  color: red;
  transition: 0.5s ease-in;
}

a i {
  color: orangered;
}

a i:hover {
  color: grey;
}

/* START - FOOTER SOCIAL MEDIA - START */
a.footsocial i {
  color: rgb(129, 0, 0);
}

a.footsocial:hover i {
  color: red;
  transition: 0.5s ease-in;
}

/* END - FOOTER SOCIAL MEDIA - END */
/* END - SOCIAL MEDIA - END */


/* START - STANDOUT TEXT - START */
span.standout {
  color: aqua;
  font-weight: 700;
}

/* END - STANDOUT TEXT - END */


/* START - FOOTER - START */
.footer {
  margin-bottom: 0;
  font-size: 2rem;
  background-color: rgba(20, 20, 20, 0.5);
  font-family: "Germania One", system-ui;
  border: 3px solid rgba(200, 0, 0, 0.5);
}

/* END - FOOTER - END */


/* CARD PROJECTS - Start */
.card {
  border: 5px solid rgb(169, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.card a {
  text-decoration: none;
  font-family: "Germania One", system-ui;
  -webkit-text-stroke: 0.2px black;
  color: rgba(200, 80, 80);
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.card p {
  color: white;
}

.card a:hover {
  text-decoration: none;
  color: #b0f8c2;
  transition: color 0.7s ease;
  -webkit-text-stroke: 0px black;
}



/* END - CARD PROJECTS - END */
/* START - UNI ASSESSMENT PAGE - START */
.B3A1,
.B3A2,
.B3A3,
.B3A4 {
  width: 100%;
  height: 465px;
}

/* END - UNI ASSESSMENT PAGE - END */
/* START - BUTTON CSS - START */
button {
  border: 1px solid orange;
  background-color: red;
  color: #fff;
}

button a {
  color: #fff;
}

button a:hover {
  color: orange;
  text-decoration: none;
}

/* END - BUTTON CSS - END */


/* START - DOODLE IMAGES - START */
#skeleton1,
#skeleton2,
#skull1,
#skull2,
#skull3,
#skull4,
#eye1,
#eye2,
#luffy1,
#zoro,
#earlybird,
#icecream,
#sadtarzan,
#saturnblue,
#starship {
  border: 5px solid black;
  box-shadow: -2px 3px 15px black;
  width: 40%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}

#skeleton1:hover,
#skeleton2:hover,
#skull1:hover,
#skull2:hover,
#skull3:hover,
#skull4:hover,
#eye1:hover,
#eye2:hover,
#luffy1:hover,
#zoro:hover,
#earlybird:hover,
#icecream:hover,
#sadtarzan:hover,
#saturnblue:hover,
#starship:hover {
  scale: 2;
  z-index: 10;
  transition: 2s ease-in-out;
}

#skeleton1:hover,
#skull1:hover,
#skull2:hover,
#eye1:hover,
#luffy1:hover,
#earlybird:hover,
#icecream:hover,
#saturnblue:hover
 {
  transform: translateX(45px);
}


/* END - DOODLE IMAGES - END */











/* START - MEDIA QUERIES - START */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    color: black;
  }

  .main {
    border-radius: 50px;
    border: 3px solid rgb(200, 0, 0, 0.5);
  }

  .aside {
    border-radius: 50px;
    border: 3px solid rgb(200, 0, 0, 0.5);
  }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


  h1 {
    font-size: 1.8rem;
  }

  p {
    color: black;
  }

  .main {
    border-radius: 50px;
    border: 3px solid rgb(200, 0, 0, 0.5);
  }

  .aside {
    border-radius: 50px;
    border: 3px solid rgb(200, 0, 0, 0.5);
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {


  h1 {
    font-size: 1.9rem;
  }

  p {
    color: black;
  }

  .main {
    border: 3px solid rgb(200, 0, 0, 0.5);
  }

  .aside {
    border: 3px solid rgb(200, 0, 0, 0.5);
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


  h1 {
    font-size: 2rem;
  }

  p {
    color: black;
  }

  .main {
    border: 3px solid rgb(200, 0, 0, 0.5);
  }

  .aside {
    border: 3px solid rgb(200, 0, 0, 0.5);
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  p {
    color: black;
  }
}

/* // Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {


  p {
    color: black;
  }
}


/* END - MEDIA QUERIES - END */